body {
    background-color: black;
    text-align: center;
}
h1, h3 { 
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    color: aquamarine;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title {
    font-weight: normal;
    font-size: 50px;
}
h3 {
    font-size: 21px;
    color: gray;
}
.info {
    font-weight: 300;
    font-size: 42px;
}
footer div {
    text-align: right;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}