html {
  background: url(images/DSC_0069\ \(1\).jpg) no-repeat center fixed;
  background-size: cover;
}

main { /*Alles onder de navbar*/
    position: absolute;
    top: 4rem;
}

@media screen and (min-width: 2300px) {
   main {
       display: flex;
   }
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #007bff;
    text-decoration: underline;
}

td {
    padding: 0 1rem;
}

img {
    padding-right: 1rem;
}

hr {
    border-top: 1px solid #505050;
}

nav { /*navbar*/
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0.5rem 0rem 0.5rem 0rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background: white;
    box-shadow: 0px 0px 1rem 1rem white;
}

nav a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3em;
    font-weight: bold;    
    color: black;
}

#mobile-nav { /* hamburger knop */
    visibility: hidden;
    position: fixed;
    top: 1.5rem;
    right: 2rem;
}

.bar { /* 1 bar van mobile-nav */
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

#mobile-close { /* kruisje mobiel */
    visibility: hidden;
    position: fixed;
    top: .6rem;
    right: 2rem;
    font-size: 3.5em;
    font-family: 'Nunito', sans-serif;
    font-stretch: ultra-expanded;
    z-index: 1;
}

#hamburger { /* navigatiebalk mobiel */
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1rem;
    background-color: white;
    z-index: 1;
    text-align: center;
}

#hamburger a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3em;
    font-weight: bold;    
    color: black;
}

@media screen and (max-width: 600px) {
    nav {
        visibility: hidden;
    }
    #mobile-nav {
        visibility: visible;
    }
}

section { /*doorzichtig tekstvak*/
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: .5rem;
    color: white;
    padding: 1rem 2rem;
    margin: 2rem;
    font-family: 'Roboto Mono', monospace;
    backdrop-filter: blur(10px);
}

section p {
    margin-right: 1rem;
    max-width: 40rem;
}

section p a:hover {
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: 1;
    color: green;
}

section li p {
    margin-left: 1rem;
}

section .list { /*lijst met items van links naar rechts*/
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

section .list .list_heading {
    padding: 1rem;
}

section .list .list_item {
    padding: .5rem;
    margin: .1rem .5rem;
    background-color: #505050;
    border-radius: .1rem;
}

section .list .redo { /*kleuren voor wat af is*/
    background-color: red;
}

section .list .completed {
    background-color: green;
}

section .list .started {
    background-color: teal;
}

section .list a {
    text-decoration: none;
    color: white;
}

section .list a:hover {
    text-decoration: none;
    color: white;
}

section .button { /*grijze knoppen*/
    padding: 1rem;
    background-color: #404040;
    margin: .5rem;
    border-radius: .2em;
    max-width: 22rem;
    display: block;
}

section .button:hover {
    background-color: #202020;
    animation-name: backgroundbutton;
    animation-duration: .2s;
    animation-iteration-count: 1;
}

section .button .icon {
    float: left;
}

section .button .icon img {
    width: 3rem;
    margin-top: -.3rem;
}

@keyframes backgroundbutton { /*effect gekoppeld aan knop*/
    from {background-color: #404040;}
    to {background-color: #202020;}
}

@keyframes color { /*"a" kleur*/
    from {color: #007bff;}
    to {color: green;}
}