body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
#calculator {
  background-color: lightgray;
  height: 24em;
  width: 20em;
}

#output {
  background-color: white;
  margin: 1em 1em 0 1em;
  padding: 0.9em 1.6em;
  height: 1em;
  font-size: 1.2rem;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.buttongrid {
  display: flex;
  justify-content: center;
}

.button {
  margin: 1em .5em 0em .5em;
  text-align: center;
  background-color: gray;
  padding: 0.85em 1.3em;
  width: .4rem;
  font-size: 1.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}